.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.qty-answers{
   width: 50px;
   display: inline;
}

.answer-row{
  margin: 5px 0px 0px 0px;
}
.question-container{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 2px;
}

.correct-answer-input{
  border: 1px solid #28a745;
}
.wrong-answer-input{
  border: 1px solid red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
